*{
    box-sizing: border-box;
}

*{
    margin: 0;
    
}

.header_titulo{
    text-align: center;
    font-size:50px;
    margin: 10px 0;
}
.header_nav{
    display: none;
}

.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-menu{
    font-size: 39px;
    border: 1px solid;
    display: block;
    padding: 10px 20px;
}

.btn_carrito{
    font-size: 39px;
    border: 1px solid;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
.search_input{
    display: block;
    padding: 10px;
}